<footer class="footer">
  <div class="footer-resources border-divider">
    <div class="container">
      <div class="row">
        <div class="col-md text-center text-md-left mb-30 mb-mb-0">
          <img
            src="https://www.gostudent.org/static/images/_logo/gs-logo-black.svg"
            width="140"
            height="40"
            class="footer-logo"
            alt="Logo"
          />
          <p>
            GoStudent <br />
            Tintagel House, 92 Albert Embankment <br />
            SE1 7TY London, United Kingdom <br />
          </p>
          <h4 class="sm text-uppercase mb-0">General Inquiries</h4>
          <p>
            customersupport@gostudent.org <br />
          </p>
          <h4 class="sm text-uppercase mb-0">Apply to be a tutor</h4>
          <p>
            tutors@gostudent.org <br />
          </p>
          <h4 class="sm text-uppercase mb-0">Contact number</h4>
          <p class="pre-line">
            +447576171399 *Lines are open 9am - 8pm Monday to Friday and 9am -
            6pm Saturday and Sunday.
          </p>
        </div>
        <div class="col-md text-center text-md-left mb-30 mb-mb-0">
          <h3 class="sm text-uppercase">About GoStudent</h3>
          <p>
            <a href="/en/press-and-media">Press</a><br />
            <a href="/en/team-and-careers">Teams and Careers</a><br />
            <a href="/en/faq">FAQ</a><br />
            <a href="/en/T&Cs">T&amp;Cs Student</a><br />
            <a href="/en/T&Cs-tutor">T&amp;Cs Tutor</a><br />
            <a href="/en/privacy-policy">Privacy policy</a><br />
            <a href="/en/cookie-policy">Cookie Policy</a><br />
            <span class="cookiebot-show-more">
              <a href="javascript: Cookiebot.showMore()">Cookie Settings</a><br
              />
            </span>
            <a href="/en/legal-notice">Legal notice</a><br />
            <a href="/en/candidate-privacy">Candidate Privacy</a><br />
            <a href="/en/safeguarding-policy">Safeguarding</a><br />
          </p>
        </div>
        <div class="col-md text-center text-md-left mb-30 mb-mb-0">
          <h3 class="sm text-uppercase">More</h3>
          <p>
            <a href="/en/partners">Partner with us</a><br />
            <a href="/en/prices-and-packages">Prices</a><br />
            <a href="https://insights.gostudent.org/en">For parents (Blog)</a
            ><br />
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="p-40 bg-gray-lightest">
    <ul class="list-unstyled d-flex justify-content-center mb-0">
      <li class="m-10">
        <a href="#"
          ><img
            src="/static/images/social_media/icn_fb.svg"
            alt="Facebook Logo"
          />
        </a>
      </li>
      <li class="m-10">
        <a
          href="https://www.instagram.com/gostudent_uk"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img
            src="/static/images/social_media/icn_ig.svg"
            alt="Instagram Logo"
          />
        </a>
      </li>
      <li class="m-10">
        <a
          href="https://www.linkedin.com/company/gostudent-gmbh"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img
            src="/static/images/social_media/icn_linkedin.svg"
            alt="Linkedin Logo"
          />
        </a>
      </li>
      <li class="m-10">
        <a
          href="https://twitter.com/GoStudent1"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img
            src="/static/images/social_media/icn_twitter.svg"
            alt="Twitter Logo"
          />
        </a>
      </li>
      <li class="m-10">
        <a
          href="https://www.youtube.com/channel/UC2fcVsqzPs5mv4GC3Ie2HTA"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img
            src="/static/images/social_media/icn_yt.svg"
            alt="Youtube Logo"
          />
        </a>
      </li>
      <li class="m-10">
        <a
          href="https://www.tiktok.com/@gostudent_uk"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img
            src="/static/images/social_media/icn_tiktok.svg"
            alt="TikTok Logo"
          />
        </a>
      </li>
    </ul>
    <div class="footer-copyright text-gs-title">
      Copyright 2022 - GoStudent - All rights reserved
    </div>
  </div>
</footer>
