<section
  id="home-header"
  class="position-relative bg-gray header-new ab-visible"
>
  <div class="container mb-40">
    <div class="row align-items-center">
      <div class="col-md">
        <h1 class="mb-20 text-center max-width-400 text-md-left line-height-sm">
          The tutoring revolution
        </h1>
        <div class="container text-left mb-20">
          <div class="column" style="color: #131E29">
            <div class="row flex-nowrap">
              <h3 class="sm">
                <i class="fas fa-check text-gs-primary" aria-hidden="true"></i>
              </h3>
              <p class="md ml-12 font-weight-semibold">
                Private one-to-one 50 minute classes
              </p>
            </div>
            <div class="row flex-nowrap">
              <h3 class="sm">
                <i class="fas fa-check text-gs-primary" aria-hidden="true"></i>
              </h3>
              <p class="md ml-12 font-weight-semibold">
                We match our tutors to your child's needs
              </p>
            </div>
            <div class="row flex-nowrap">
              <h3 class="sm">
                <i class="fas fa-check text-gs-primary" aria-hidden="true"></i>
              </h3>
              <p class="md ml-12 font-weight-semibold">
                All school subjects and age groups
              </p>
            </div>
            <div class="row flex-nowrap">
              <h3 class="sm">
                <i class="fas fa-check text-gs-primary" aria-hidden="true"></i>
              </h3>
              <p class="md ml-12 font-weight-semibold">
                Certified tutors in 30+ subjects
              </p>
            </div>
          </div>
        </div>
        <a
          class="btn btn-primary max-width-300 mx-auto mx-md-0 text-white top-free-trial-btn"
          href="/us/find-tutors"
        >
          Test now for free
        </a>
        <div class="d-flex justify-content-center justify-content-md-start">
          <div
            class="w-auto d-flex align-items-center mt-3 mb-4 mb-lg-0"
            style="height: 150px"
          >
            <div
              class="trustpilot-widget"
              data-locale="en-US"
              data-template-id="53aa8807dec7e10d38f59f32"
              data-businessunit-id="5b9bd0cf3738d6000130250d"
              data-style-height="150px"
              data-style-width="70%"
              data-theme="light"
              style="position: relative;"
            >
              <iframe
                title="Customer reviews powered by Trustpilot"
                loading="auto"
                src="https://widget.trustpilot.com/trustboxes/53aa8807dec7e10d38f59f32/index.html?templateId=53aa8807dec7e10d38f59f32&businessunitId=5b9bd0cf3738d6000130250d#locale=en-US&styleHeight=150px&styleWidth=70%25&theme=light"
                style="position: relative; height: 150px; width: 70%; border-style: none; display: block; overflow: hidden;"
              ></iframe>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md justify-content-center justify-content-lg-end">
        <img
          src="https://www.gostudent.org/static/images/reviews/TVC_HP_Header_HP_en-US.png"
          alt="hero"
          class="d-block col-12"
          width="100%"
          height="auto"
        />
      </div>
    </div>
  </div>
</section>
