---
const { blok } = Astro.props;

const styles = `row align-items-center ${blok.ImagePlacement === 'left' ? 'flex-row-reverse' : ''}`;
---

<section id="home-section1">
  <div class="container">
    <div class={styles}>
      <div class="col-md pr-32">
        <h2 class="xl text-center text-md-left">
          {blok.Title}
        </h2>
        <h3
          class="font-weight-normal line-height-1-5 text-dark text-center text-md-left"
        >
          {blok.Description}
        </h3>
      </div>
      <div
        class="col-md col-img d-flex justify-content-center align-items-center"
      >
        <img
          loading="lazy"
          class="img-fluid"
          style="height: auto"
          src={blok.Image}
          width="470"
          height="532"
          srcset=""
          alt=""
        />
      </div>
    </div>
  </div>
</section>
