<nav class="navbar navbar-expand-lg border-divider bg-white">
  <a class="navbar-brand" href="/us">
    <img
      src="https://www.gostudent.org/static/images/_logo/gs-logo-black.svg"
      width="140"
      height="40"
      class="d-inline-block align-top"
      alt=""
    />
  </a>
  <button
    class="navbar-toggler js-toggle-mobile-navigation"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div
    class="collapse navbar-collapse d-none d-lg-flex"
    id="navbarSupportedContent"
  >
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="/us/our-tutors">Our tutors</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/us/prices-and-packages">Prices</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/us/give-online-tutoring">Become a tutor</a>
      </li>
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          More
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a
            class="dropdown-item text-left"
            href="https://insights.gostudent.org/us">For parents (Blog)</a
          >
          <a class="dropdown-item text-left" href="/us/tutoring"
            >Tutoring Subjects</a
          >
          <a class="dropdown-item text-left" href="/us/partners"
            >Partner with us</a
          >
          <a class="dropdown-item text-left" href="/us/team-and-careers"
            >Teams and Careers</a
          >
          <a class="dropdown-item text-left" href="/us/faq">FAQ</a>
          <a class="dropdown-item text-left" href="/us/gostudent-in-the-news"
            >GoStudent in the news</a
          >
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link btn btn-sm btn-secondary" href="/us/contact"
          >Contact</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link btn btn-sm btn-primary" href="/login?lng=us">Login</a
        >
      </li>
      <li class="nav-item dropdown">
        <a
          type="button"
          class="btn-none nav-link text-right lang-picker"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          <img
            class="height-30 img-lang"
            width="30"
            height="30"
            src="https://www.gostudent.org/static/images/icn_language.svg"
            alt="English"
          />
          <span class="active-lang">English</span>
        </a>
        <div class="dropdown-menu dropdown-menu-right right-08">
          <h6 class="dropdown-item text-left disabled text-uppercase mb-10">
            Change language
          </h6>
          <a class="dropdown-item text-left sm" href="/?lang=de-DE"> Deutsch</a>
          <a class="dropdown-item text-left sm" href="/fr"> Français</a>
          <a class="dropdown-item text-left sm" href="/es"> Español</a>
          <a class="dropdown-item text-left sm active" href="/en"> English</a>
          <a class="dropdown-item text-left sm" href="/it"> Italiano</a>
          <a class="dropdown-item text-left sm" href="/gr"> Ελληνικά</a>
          <a class="dropdown-item text-left sm" href="/nl"> Nederlands</a>
          <a class="dropdown-item text-left sm" href="/tr"> Türkçe</a>
          <a class="dropdown-item text-left sm" href="/br"> Português</a>
          <a class="dropdown-item text-left sm" href="/pl"> Polski</a>
          <a class="dropdown-item text-left sm" href="/se"> Svenska</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
